.createPostPage {
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    place-items: center;
  }
  
  .cpContainer {
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
  }
  
  .cpContainer h1 {
    text-align: center;
  }
  
  .cpContainer label {
    font-size: 25px;
  }
  .cpContainer .inputGp {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .inputGp input,
  .inputGp textarea {
    font-size: 18px;
    border: none;
    border-radius: 2px;
    padding: 5px;
    background-color: #C5C5C5;
  }
  
  .inputGp input {
    height: 40px;
    background-color: #C5C5C5;
    color:#C5C5C5; 
  }
  .inputGp textarea {
    height: 150px;
  }
  
  
  .cpContainer button {
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  input,
  textarea {
    margin-top: 5px;
  }
  
  .loginPage {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loginPage p {
    font-size: 30px;
  }
  