.button {
    font-size: 35px;
    font-family: 'DelaGothic';
    color:azure;
    background-color: #C295DE;
    border: 3px solid #632396;
    border-radius: 35px; 
    padding: 10px 20px;
    transition: all 0.2s ease; 
    margin-bottom: 10px;
}

.button:hover {
    border: 3px solid #fff; 
}