.labelForYearSelector {
    font-family: 'DelaGothic';
    color:#B65B71; 
    font-size: smaller;
}

.yearSelectorButton {
    color: #333;
      background-color: #D9D9D9;
      font-size: 16px;
      font-family: 'Courier New', Courier, monospace;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 6px;
      width: 75px;
      font-weight: bold;
      height: 30px;
}