.Home {
    text-align: center;
  }

  .Home-logo {
    height: 20vmin;
    pointer-events: none;
  }
  
  .personalizedAdvice {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .adviceText {
    font-family:'Courier New', Courier, monospace;
    font-size: 0.8rem;
    line-height: 1.5;
    color: #000;
    font-weight: bold ;
    opacity: 0.4;
    white-space: nowrap; 
    overflow: hidden; 
    display: inline-block;
    animation: typing 3s steps(40, end), blinkCursor 0.5s step-end infinite;
    border-right: 2px solid #333; 
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blinkCursor {
    50% {
      border-color: transparent;
    }
  }
  

  
  .Home-h1 {
    color: #B65B71;
    font-size: 35px;
    font-family: 'DelaGothic', Georgia, 'Times New Roman', Times, serif;
  }
  .Home-header {
    background-color: #F0CFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Home-link {
    color: #61dafb;
  }

  .yearSelector {
    text-align: left;
  }
  
  

  
  